In [1]:
2 + 2

4

In [2]:
print ("Hello world")

Hello world

# Headline 
## Sub header 
normal text
*cursive* **bold**

- one
- two
- three

In [5]:
# this is a comment 
print ("something")
# print ("hello")

something

In [6]:
name = "Lovelace"

In [7]:
print (name)

Lovelace

In [8]:
age = 73

In [10]:
size = 1.7123

In [15]:
knows_math = True 
likes_gardening = False

In [16]:
type (size)

float

In [17]:
type (name)

str

In [18]:
type(age)

int

In [19]:
type (likes_gardening)

bool

In [20]:
5 * 5

25

In [21]:
age * 100

7300

In [25]:
name + name

'LovelaceLovelace'

In [26]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [27]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [28]:
name + "10"

'Lovelace10'

In [29]:
size / age

0.023456164383561642

In [31]:
size

1.7123

In [32]:
type (size)

float

In [33]:
str (size)

'1.7123'

In [34]:
print (size)

1.7123

In [35]:
type (size)

float

In [36]:
size = str(size)

In [37]:
type (size)

str

In [38]:
int (size)

ValueError: invalid literal for int() with base 10: '1.7123'

In [39]:
float (size)

1.7123

In [40]:
# Functions and methods

In [41]:
len (name)

8

In [42]:
len (length)

NameError: name 'length' is not defined

In [43]:
len (age)

TypeError: object of type 'int' has no len()

In [44]:
print (age)

73

In [45]:
name.upper()

'LOVELACE'

In [46]:
upper (name)

NameError: name 'upper' is not defined

In [47]:
name.upper

In [48]:
name.upper()

'LOVELACE'

In [49]:
name.count()

TypeError: count() takes at least 1 argument (0 given)

In [50]:
name.count("e")

2

In [52]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [53]:
name.startswith

In [78]:
name.startswith("1")

False

In [79]:
name

'Lovelace'

In [80]:
newname = name.replace("lace", " is everywhere")

In [81]:
newname

'Love is everywhere'

In [60]:
help (print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [61]:
print?

In [62]:
# Lists and Dictionaries

In [63]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [64]:
len (names)

4

In [66]:
names [2]

'Curie'

In [68]:
len (names [2])

5

In [69]:
type (names [1])

str

In [70]:
# print the data type of the list's first element

In [72]:
type (names [0])

str

In [73]:
print (type (names [0]))

<class 'str'>

In [74]:
%who

age	 ageM	 knows_math	 likes_gardening	 likes_grading	 name	 names	 newname	 size

In [75]:
del(ageM)

In [76]:
%who

age	 knows_math	 likes_gardening	 likes_grading	 name	 names	 newname	 size

In [83]:
names [0:3]

['Lovelace', 'Darwin', 'Curie']

In [84]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [85]:
names [0:4]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [86]:
names [0:5]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [87]:
names [2:]

['Curie', 'Hawking']

In [88]:
names [0:2][3:]

[]

In [94]:
names [0]

'Lovelace'

In [96]:
names [-2:]

['Curie', 'Hawking']

In [97]:
# Dictionary

In [105]:
authors_and_birth_years = {"Lovelace":1882, 
                           "Darwin":1809, 
                           "Noether":1882}

In [106]:
authors_and_birth_years ["Darwin"]

1809

In [111]:
authors_and_birth_years = {"Lovelace":1882, 
                           "Darwin":"1809", 
                           "Noether":[1882, 1935]}

In [113]:
authors_and_birth_years["Noether"]

[1882, 1935]

In [116]:
authors_and_birth_years["Noether" [1]]

KeyError: 'o'

In [117]:
authors_and_birth_years ["Noether"[0]] # does not work because the first part is a list

TypeError: 'str' object is not callable

In [121]:
authors_and_birth_years["Noether"][0] # works because the value is a list

1882

In [123]:
authors_and_birth_years["1"]

KeyError: '1'

In [124]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether'])

In [125]:
authors_and_birth_years.values()

dict_values([1882, '1809', [1882, 1935]])

In [127]:
# for loops

In [128]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [138]:
for name in names: 
    print(name)
print ("did awesome stuff")

Lovelace
Darwin
Curie
Hawking
did awesome stuff

In [140]:
for name in names: 
    print(name)
    print ("did awesome stuff")

Lovelace
did awesome stuff
Darwin
did awesome stuff
Curie
did awesome stuff
Hawking
did awesome stuff

In [141]:
type (names)

list

In [142]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [144]:
for name in names: 
    print (name)+ print ("did awesome stuff")

Lovelace
did awesome stuff

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [145]:
for name in names: 
    print (name)+ ("did awesome stuff")

Lovelace

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [147]:
for name in names:
    print (name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [151]:
name

'Hawking'

In [152]:
name

'Hawking'

In [153]:
for name in names:
    print (name, "did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [155]:
# Conditionals

In [157]:
temp = 20
if temp > 15:
    print ("It's warm")

It's warm

In [158]:
temp = 10
if temp > 15:
    print ("It's warm")

In [159]:
temp = 10

In [160]:
temp > 15

False

In [161]:
temp = 20
if temp > 15:
    print ("It's warm")

It's warm

In [162]:
temp > 15

True

In [163]:
temp = 10
if temp > 15:
    print ("It's warm")
else: 
    print ("It's cold")

It's cold

In [164]:
temp = 20
if temp > 15:
    print ("It's warm")
else: 
    print ("It's cold")

It's warm

In [167]:
temp = 20
if temp > 25:
    print ("It's hot")
elif temp > 15: 
    print ("It's warm")
else: 
    print ("It's cold")

It's warm

In [168]:
temp = 25
if temp > 25:
    print ("It's hot")
elif temp > 15: 
    print ("It's warm")
else: 
    print ("It's cold")

It's warm

In [169]:
temps = [10, 20, 32]
if temp > 25:
    print ("It's hot")
elif temp > 15: 
    print ("It's warm")
else: 
    print ("It's cold")

It's warm

In [171]:
temps = [10, 20, 32]
for temp in temps:
    print (temp)
    if temp > 25:
        print ("It's hot")
    elif temp > 15: 
        print ("It's warm")
    else: 
        print ("It's cold")

10
It's cold
20
It's warm
32
It's hot

In [172]:
temps = [10, 20, 32]
for temp in temps:
    print (temp)
    if temp > 25:
        print (temp + "It's hot")
    elif temp > 15: 
        print (temp + "It's warm")
    else: 
        print (temp + "It's cold")
        # does not work because I am trying to assign a temp to a string so I nedd to create a string

10

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [177]:
temps = [10, 20, 32]

for temp in temps:
    if temp > 25:
        print(str(temp) + " It's hot")
    elif temp > 15: 
        print(str(temp) + " It's warm")
    else: 
        print(str(temp) + " It's cold")

10 It's cold
20 It's warm
32 It's hot